@mixin font($variant, $type, $weight, $style) {
  $directory: "../../fonts/";
  @font-face {
    font-family: "#{$variant}";
    src: local("#{$variant} #{$type}"), local("#{$variant}-#{$type}"),
      url("#{$directory}#{$variant}-#{$type}.ttf") format("truetype"),
      url("#{$directory}#{$variant}-#{$type}.woff") format("woff"),
      url("#{$directory}#{$variant}-#{$type}.woff2") format("woff2");
    font-weight: $weight;
    font-style: $style;
  }
}

// @include font('officina-serif', 'bold', 400, normal);
// @include font('officina-serif', 'book', 400, normal);

$font-main: "officina-serif", "arial", serif;
