$desktop-wide: 1920px;
$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;

$mobile-padding: 15px;
$tablet-padding: 45px;
$desktop-padding: 165px;

$section-padding: 40px;
$max-desktop-width: 1440px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$retina-dpi-high: 180dpi;
$retina-dppx-high: 3dppx;
