$color-white: #ffffff;
$color-black: #000000;

// project colors
$color-prussian-blue: #1d3557;
$color-celadon-blue: #457b9d;
$color-powder-blue: #a8dadc;
$color-honeydew: #f1faee;
$color-imperial-red: #e63946;
